.Login {
    background-color: #F1FAEE;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.Login main {
    height: 400px;
    width:90vw;
    max-width: 500px;
}

.Login form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login form input[type=text], .Login form input[type=password] {
    padding: 10px;
}

.Login input[type=submit] {
    background-color: #1D3557;
    border: none;
    color: #A8DADC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 900;
    margin: 20px 2px;
    cursor: pointer;
}

.Login form label {
    font-weight: bold;
}

.Login form > * {
    margin: 5px;
}

