.Contestant {
    border: 1px solid black;
    background-color: #F1FAEE;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa; 
    padding: 5px; 
}

.Contestant > div {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.Contestant > div > div:nth-child(1) {
    flex: 2;
    display: block;
    margin: auto auto auto auto;
}
.Contestant > div > div:nth-child(2) {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contestant > div > div:nth-child(3) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-size: 28px;
    border-left: 1px solid black;
}

.Contestant > div > div:nth-child(2) p {
    margin: 2px;
    text-align: left;
}

.Contestant .Person {
    font-size: 64px;
}
